@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&&display=swap");

/* Larger font size for large screens */
@media (min-width: 1200px) {
  h1 {
    font-size: 2rem;
    font-family: "Roboto";
    color: #ffff00;
    font-weight: 900;
  }

  h2 {
    font-size: 1.75rem;
    font-family: "Roboto";
    color: #ffff00;
    font-weight: 800;
  }

  h3 {
    font-size: 1.5rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }

  h4 {
    font-size: 1.25rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }

  h5 {
    font-size: 1rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }

  h6 {
    font-size: 0.75rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }

  p {
    font-size: 1.25rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }
}

/* Medium font size for tablets */
@media (min-width: 768px) and (max-width: 1200px) {
  h1 {
    font-size: 1.5rem;
    font-family: "Roboto";
    color: #ffff00;
    font-weight: 700;
  }

  h2 {
    font-size: 1.25rem;
    font-family: "Roboto";
    color: #ffff00;
    font-weight: 600;
  }

  h3 {
    font-size: 1rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }

  h4 {
    font-size: 0.9rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }

  h5 {
    font-size: 0.8rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }

  h6 {
    font-size: 0.7rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }

  p {
    font-size: 0.9rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }
}

/* Smaller font size for mobile devices */
@media (max-width: 767px) {
  h1 {
    font-size: 600;
    font-family: "Roboto";
    color: #ffff00;
    font-weight: 500;
  }

  h2 {
    font-size: 1rem;
    font-family: "Roboto";
    color: #ffff00;
    font-weight: 700;
  }

  h3 {
    font-size: 0.9rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }

  h4 {
    font-size: 0.8rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }

  h5 {
    font-size: 0.7rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }

  h6 {
    font-size: 0.6rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }

  p {
    font-size: 0.8rem;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 100;
  }
}

body {
  background: #222529;
  color: #ffff00;
  font-family: "Roboto", sans-serif;
}

div {
  color: #ffff00;
  font-family: "Roboto", sans-serif;
}

section {
  background: #222529;
  font-family: "Roboto", sans-serif;
  color: #ffff00;
  height: 70rem;
  /* padding: 10% auto 10% auto; */
}

/*  ----------------------------   */
/* CSS for header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #222529;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ffff00;
}

header nav a {
  background: #222529;
  padding: 10px 20px;
  font-size: 2rem;
  color: #ffff00;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

header nav a:hover,
header nav a.active {
  background: #ffff00bb;
  color: #222529;
  transition: 0.5s ease-out;
  letter-spacing: 2px;
}

/*  ----------------------------   */
/* CSS for about and icons used */

.div-icon {
  padding: 80px 80px 80px auto;
  fill: #ffff00;
  color: #ffff00;
}

a.a-icon {
  fill: #ffff00;
  color: #ffff00;
  margin-right: 20px;
  padding: 40px 20px 40px auto;
  text-decoration: none;
}

a.a-icon svg {
  fill: #ffff00;
  color: #ffff00;
  padding: 40px auto 40px auto;
  height: 3rem;
  width: 3rem;
}

.Name {
  font-family: "Roboto", serif;
  align-items: left;
  font-weight: 200;
  font-size: 1.5rem;
  margin: 0 auto 0 auto;
  font-height: 0.7rem;
}

.Family {
  font-family: "Roboto", serif;
  align-items: left;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto 0 auto;
  font-height: 0.7rem;
}

.profile {
  background-color: #222529;
  color: #ffff00;
  text-align: center;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: radius 100px;
  align-items: center;
  margin: 0 auto 0 auto;
}

/* CSS for Procesession bar */

.progress {
  width: 150px;
  height: 150px !important;
  float: left;
  line-height: 150px;
  background: none;
  margin: 20px;
  box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #222529;
  font-size: 24px;
  color: #e0ffff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}

.progress.blue .progress-bar {
  border-color: #049dff;
}

.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.yellow .progress-bar {
  border-color: #fdba04;
}

.progress.yellow .progress-left .progress-bar {
  animation: loading-3 1.5s linear forwards 1.8s;
}

.progress.red .progress-bar {
  border-color: #ff0404;
}

.progress.red .progress-left .progress-bar {
  animation: loading-4 1.5s linear forwards 1.8s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
  }
}
/* Example of calculation:90% => 0.1*360= 36 => 180-36 */
/* Example of calculation:80% => 0.2*360= 72 => 180-72 */
/* Example of calculation:75% => 0.25*360= 72 => 180-72 */
/* For List litem containers */

.list-item {
  padding: 1rem;
  margin: 1rem 0rem 1rem 0rem;
}

.paper-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paper {
  width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #222529;
  border-radius: 10px;
  animation: float 1s ease-in-out infinite;
}

/* Titles */

/* Larger font size for large screens */
@media (min-width: 1200px) {
  .section-title {
    font-size: 6rem;
    font-family: "Roboto";
    color: #ffff00;
    font-weight: 900;
    margin: 5% auto 6.5% auto;
  }
}

/* Medium font size for tablets */
@media (min-width: 768px) and (max-width: 1200px) {
  .section-title {
    font-size: 4.3rem;
    font-family: "Roboto";
    color: #ffff00;
    font-weight: 700;
    margin: 5% auto 6.5% auto;
  }
}

/* Smaller font size for mobile devices */
@media (max-width: 767px) {
  .section-title {
    font-size: 3.4rem;
    font-family: "Roboto";
    color: #ffff00;
    font-weight: 500;
    margin: 5% auto 6.5% auto;
  }
}

/* Info - Aboot section */

/* ------------ */
/*  Paper Title */
/* Larger font size for large screens */
@media (min-width: 1200px) {
  .info {
    font-size: 1.55rem;
    font-family: "Roboto";
    color: #fff;
    font-weight: 100;
  }
}

/* Medium font size for tablets */
@media (min-width: 768px) and (max-width: 1200px) {
  .info {
    font-size: 1rem;
    font-family: "Roboto";
    color: #fff;
    font-weight: 100;
  }
}

/* Smaller font size for mobile devices */
@media (max-width: 767px) {
  .info {
    font-size: 0.9rem;
    font-family: "Roboto";
    color: #fff;
    font-weight: 100;
  }
}

/* ------------ */
/*  Paper Title */
/* Larger font size for large screens */
@media (min-width: 1200px) {
  .paper-title {
    font-size: 1.75rem;
    font-family: "Roboto";
    color: #ffff00;
    font-weight: normal;
  }
}

/* Medium font size for tablets */
@media (min-width: 768px) and (max-width: 1200px) {
  .paper-title {
    font-size: 1.25rem;
    font-family: "Roboto";
    color: #ffff00;
    font-weight: normal;
  }
}

/* Smaller font size for mobile devices */
@media (max-width: 767px) {
  .paper-title {
    font-size: 1rem;
    font-family: "Roboto";
    color: #ffff00;
    font-weight: normal;
  }
}

/* ____________________________________ */
/* Paper Authors */

/* Larger font size for large screens */
@media (min-width: 1200px) {
  .paper-authors {
    font-size: 1.5rem;
    font-family: "Roboto";
    color: #ffffff;
    font-style: italic;
  }
}

/* Medium font size for tablets */
@media (min-width: 768px) and (max-width: 1200px) {
  .paper-authors {
    font-size: 1rem;
    font-family: "Roboto";
    color: #ffffff;
    font-style: italic;
  }
}

/* Smaller font size for mobile devices */
@media (max-width: 767px) {
  .paper-authors {
    font-size: 0.9rem;
    font-family: "Roboto";
    color: #ffffff;
    font-style: italic;
  }
}

/* ____________________________________ */
/* Journal info */

/* Larger font size for large screens */
@media (min-width: 1200px) {
  .journal {
    font-size: 1.25rem;
    font-family: "Roboto";
    color: #ffffff;
    font-style: italic;
  }
}

/* Medium font size for tablets */
@media (min-width: 768px) and (max-width: 1200px) {
  .journal {
    font-size: 0.9rem;
    font-family: "Roboto";
    color: #ffffff;
    font-style: italic;
  }
}

/* Smaller font size for mobile devices */
@media (max-width: 767px) {
  .journal {
    font-size: 0.8rem;
    font-family: "Roboto";
    color: #ffffff;
    font-style: italic;
  }
}

#author-name {
  font-size: medium;
  margin: 20px;
  padding: 10px;
}

.section-1 {
  background-repeat: no-repeat, repeat;
  background-image: url("img_tree.gif"), url("paper.gif");
  background-blend-mode: lighten;
}
